{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>10th Grade</h3>
        </div>
        <hr>
        <div class="col-12 text-center">

            I completed my 10th standard from Maharishi Vidya Mandir,CBSE.
        </div>

        <div class="col-12 text-center py-3">

            <img src="../static/images/mvm.jpg" alt="">
        </div>

        <div class="col-12 text-center py-3">

            <iframe src="https://drive.google.com/file/d/1IZ9iOPoYCgHOBnE0RJkqz510t4t_mvgg/preview" width="300" height="480" allow="autoplay"></iframe>
            <p>I passed out my 10th Grade with a CGPA 8.8</p>
        </div>

        


    </div>
</div>
{% endblock %}