{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>12th Grade</h3>
        </div>
        <hr>
        <div class="col-12 text-center">

            I completed my 12th standard from Sri Chaitanya Junior College.
        </div>

        <div class="col-12 text-center py-3">

            <img src="../static/images/srich.jpg" alt="">
        </div>

        <div class="col-12 text-center py-3">

            <iframe src="https://drive.google.com/file/d/1VIplPrWM1khsBJJgd3zDTr4NYBShItgu/preview" width="300" height="480" allow="autoplay"></iframe>
            <p>I passed out my 12th Grade with a 93.4%</p>
        </div>

        


    </div>
</div>
{% endblock %}