{%extends "template.html" %}
{%block content%}
  
<div class="container font">

    <div class="row justify-content-center bk-white my-3">

        <div class="col-6 text-center pt-2">
            <img id='photo' src="../static/images/photo.jpg" alt="" srcset="">
        </div>

        <div class="col-12 text-center pt-2">
            <p> Hello, I am Surya Kiran from Hyderabad</p>
        </div>

        <div class="col-12 text-center ">
            <p> I am a student in SRM University, Chennai</p>
        </div>

        <div class = 'bk-white px-2 py-2'>
            <div class="col-12 px-5">
                <p class="fs-2">About Me :</p><p class="ps-3">I am a very techky person. Ever since a got a computer, I was always facinated by the functioning of it. I always wanted to work in a field where i build and deploy realworld web apps. I put my hands into multiple technologies for web development. I also leant and biuld multiple projects using machine learning. I love programming and solving complex problems associated with it.</p>
                <hr>
            </div>

            <div class="col-12 px-5">
                <p class="fs-2">Skills : </p><p class="ps-3">Machine Learning, Problem Solving, Full-Stack Web development.</p>
                <hr>
            </div>

            <div class="col-12 px-5">
                <p class="fs-2">Programming Languages & Technologies Known : </p><p class="ps-3">C, C++, Python, Flask, Bootstrap, SQL.</p>
                <hr>
            </div>

            <div class="col-12 px-5">
                <p class="fs-2">Bio : </p>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-4 col-sm-12">
                            <p class=nobr>Date of Birth : 18-06-2002</p>
                        </div>
                        

                    
                        <div class="col-md-6 col-sm-12">
                            <p>Father's Name - K.Ramulu Chary</p>
                        </div>
                        
                        <div class="col-md-4 col-sm-12">
                            <p>Nationality - Indian</p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p>Languages Know - English, Telugu, Hindi</p>
                        </div>

                        
                    </div>
                </div>
                <hr>
            </div>

        </div>

    </div>
</div>
  
{% endblock %}