{%extends "template.html" %}
{%block content%}
  
<div class="container mb-5">

    <div class="row justify-content-center bk-white my-3 pb-5">

        

        <div class="col-12 text-center  pt-2">
            <h3>Certification</h3>
        </div>

        <hr>

         
            <a href="/certificates/courses" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/courses.jpg" class="rounded logo pt-3" alt="...">

                <p>Courses</p>
                
                
            </a>
         

            <a href="/certificates/hackathons" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/hackathons.png" class="rounded logo pt-3" alt="...">

                <p>Hackathons</p>
                
                
            </a>

            <a href="/certificates/workshops" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/workshops.jpg" class="rounded logo pt-3" alt="...">

                <p>Workshops</p>
                
                
            </a>

        

        



        

    </div>

    
</div>
{% endblock %}