{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>Certifies Courses</h3>
        </div>
        <hr>
        

        <div class="col-12 text-center py-3">

            <img src="../static/images/webcer.png" class="size" alt="">
        </div>

        <div class="col-12 text-center py-3">

           <p>This a certificate from John Hopkings University for completing front-end web development</p>
        </div>

        <hr>




        
        

        <div class="col-12 text-center py-3">

            <img src="../static/images/ml.png" class="size" alt="">
        </div>

        <div class="col-12 text-center py-3">

           <p>This a certificate from Stanford University for completing Machine Learning</p>
        </div>

        <hr>

        

        


    </div>
</div>
{% endblock %}