{%extends "template.html" %}
{%block content%}
  
<div class="container mb-5">

    <div class="row justify-content-center bk-white my-3 pb-5">

        

        <div class="col-12 text-center  pt-2">
            <h3> My Education</h3>
        </div>

        <hr>

         
            <a href="/education/10" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/10.jpg" class="rounded logo pt-3" alt="...">

                <p>This Tab contains educational records of my 10th standard</p>
                
                
            </a>
         

            <a href="/education/12" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/12.jpg" class="rounded logo pt-3" alt="...">

                <p>This Tab contains educational records of my 12th standard</p>
                
                
            </a>

            <a href="/education/uni" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/uni.jpg" class="rounded logo pt-3" alt="...">

                <p>This Tab contains educational records during my time at university</p>
                
                
            </a>

        

        



        

    </div>

    
</div>
{% endblock %}