{%extends "template.html" %}
{%block content%}

<div class="container bk-white font mb-5 pb-5">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>Heaven's Kitchen - Full-Stack</h3>
        </div>
        <hr>

        

        <div class="col-sm-12 col-md-3 text-center">
            <img src="../static/images/logos/heavenskitchen.png" class="logo" alt="">
        </div>

        <div class="col-sm-12 col-md-8 text-start pt-3">
            <p>A website for an hypothetical restaurant 'Hevean's Kitchen'.
                This website allows users to view all sorts of information related to the restaurant. Users will also be able to reserve table through this website.
                It even allows the owner of the website to look all the table reservations
                </p>
        </div>

        <hr>
        <div class="col-12 text-center pt-3">
            <p class="fs-5">Technologies Used</p>
        </div>

        

        <div class="col-2 text-start pt-3">
            <ul>
                
                <li>Flask</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <hr>

        <div class="col-12 text-center pb-3">
            <a href="https://heavenskitchen.herokuapp.com/" target="_blank"> <span class="text-primary"> Website Link </span></a>
        </div>


        

        <hr>
        <div class="col-9 text-center">
            <iframe src="https://drive.google.com/file/d/1d9Z4prX8KEdqX1Wn4MKh9FJPnxps-t6E/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
        

        


    </div>
</div>
{% endblock %}