{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>Hackathons</h3>
        </div>
        <hr>
        

        <div class="col-12 text-center py-3">

            <img src="../static/images/hackathon.png" class="size" alt="">
        </div>

        <div class="col-12 text-center py-3">

           <p>This a certificate from Hack with us of reaching the final round in their hackathon</p>
        </div>

        <hr>




        
        

        

        

        


    </div>
</div>
{% endblock %}