{%extends "template.html" %}
{%block content%}

<div class="container bk-white font mb-5 pb-5">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>Virtual Paint - OpenCV</h3>
        </div>
        <hr>

        

        <div class="col-sm-12 col-md-3 text-center">
            <img src="../static/images/logos/opencv.png" class="logo" alt="">
        </div>

        <div class="col-sm-12 col-md-8 text-start pt-3">
            <p>Paint using your finger, just draw shapes in air in front of a webcam, and this opencv code will detect your finger and draws what ever your are
                drawing on the computer screen.
            </p>
        </div>

        <hr>
        <div class="col-12 text-center pt-3">
            <p class="fs-5">Technologies Used</p>
        </div>

        

        <div class="col-2 text-start pt-3">
            <ul>
                
                <li>OpenCV</li>
                
            </ul>
        </div>
        <hr>

        


        

        <hr>
        <div class="col-9 text-center">
            <iframe src="https://drive.google.com/file/d/1O8lUIivgr6TCHH_axaNQ--7YSByqpXNu/preview" width="720" height="480" allow="autoplay"></iframe>
        </div>
        

        


    </div>
</div>
{% endblock %}