{%extends "template.html" %}
{%block content%}
  
<div class="container mb-5">

    <div class="row justify-content-center bk-white my-3 pb-5">

        

        <div class="col-12 text-center  pt-2">
            <h3>Projects</h3>
        </div>

        <hr>

         
            <a href="/projects/tsa" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/twitter.png" class="rounded logo pt-3" alt="...">

                <p>Twitter Sentiment Analysis</p>
                
                
            </a>
         

            <a href="/projects/fs" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/heavenskitchen.png" class="rounded logo pt-3" alt="...">

                <p>Fullstack-Restaurent Website</p>
                
                
            </a>

            <a href="/projects/ocv" class="col-md-3 col-sm-10 text-center border border-dark bk-white mx-2">
                
                
                <img src="../static/images/logos/opencv.png" class="rounded logo pt-3" alt="...">

                <p>Virtual Paint</p>
                
                
            </a>

        

        



        

    </div>

    
</div>
{% endblock %}