{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>University</h3>
        </div>
        <hr>
        <div class="col-12 text-center">

            I am currently pursuing my bachelor degree in computer science from SRM university.
        </div>

        <div class="col-12 text-center py-3">

            <img src="../static/images/srm.png" alt="">
        </div>

        <div class="col-12 text-center py-3">

            <iframe src="https://drive.google.com/file/d/1RHV_S6nRkhAmf2jLxPrew-FvCYKpyJ7s/preview" width="800" height="450" allow="autoplay"></iframe>
            <p>I currently have a CGPA of 9.66</p>
        </div>

        


    </div>
</div>
{% endblock %}