{%extends "template.html" %}
{%block content%}

<div class="container bk-white font">

    <div class="row justify-content-center">

        <div class="col-12 text-center py-3">

            <h3>Workshops</h3>
        </div>
        <hr>
        

        <div class="col-12 text-center py-3">

            <img src="../static/images/workshop.png" class="size" alt="">
        </div>

        <div class="col-12 text-center py-3">

           <p>This a certificate that i recieved after participating in a workshop conducted by IBM on machine learning</p>
        </div>

        <hr>




        
        

        

        

        


    </div>
</div>
{% endblock %}